.about {
  margin: 100px 40px;
}

.about-info {
  display: grid;
  place-items: center;
  margin-bottom: 60px;
}

.about-info h1 {
  font-family: 'Recoleta Black', sans-serif;
  font-size: 28px;
}

.about-info p {
  color: #52525b;
  font-size: 18px;
  text-align: center;
  max-width: 650px;
  font-family: 'Plus Jakarta Sans';
  line-height: 30px;
}

.slides-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 150px;

}

.slides {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 26px;
}

.slides h1 {
  font-size: 26px;
  margin-bottom: 16px;
  font-family: 'Recoleta Black', sans-serif;
}

.slides p {
  font-size: 18px;
  margin-bottom: 28px;
  line-height: 30px;
  font-family: 'Plus Jakarta Sans';
}

.slide-1 {
  background-color: #111928;
  color: #fff;
}

.slide-2 {
  background-color: #fce542;
}
.slide-2 p {
  color: #52525b;
}
.slide-3 {
  background-color: #3558e6;
  color: #fff;
}
.slideImg1{
  width: 252px;
  align-self: flex-end;
}
.slideImg3{
width: 215px;
align-self: center;
}

.guide {
  margin: 10px 50px;
}

.guideImg{
  width: 60px;
}
.guide h1 {
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 28px;
  font-family: 'Recoleta Black', sans-serif;
  margin-bottom: 30px;
}

.guides {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.guide-box {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 9px rgba(92, 90, 90, 0.2);
}

.guide-box p {
  font-size: 18px;
  margin-top: 10px;
  color: #52525b;
  line-height: 30px;
  font-family: 'Plus Jakarta Sans';
}

.roles {
  display: grid;
  place-items: center;
  padding: 100px 0;
}

.roles h1 {
  font-size: 28px;
  margin-bottom: 16px;
  font-family: 'Recoleta Black', sans-serif;
}

.roles p {
  font-size: 18px;
  color: #52525b;
  font-family: "Plus Jakarta Sans";
  max-width: 650px;
  text-align: center;
  line-height: 30px;
}

.roles-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.role-slides {
  width: 100%;
  background-color: #3558e6;
  padding: 44px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.role-info {
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 12px 20px;
  position: relative;
}

.role-info h1 {
  font-size: 22px;
  font-family: 'Recoleta Black', sans-serif;
}

.role-info p {
  font-size: 18px;
  color: #52525b;
  font-family: "Plus Jakarta Sans";
}

@media screen and (max-width: 768px){
.slides-container{
  flex-direction: column;
}
.slideImg1,.slideImg3{
  width: 50%;
}
.guides{
  grid-template-columns: 1fr ;
place-items: center;
}

.guide-box{
  width: 100%;
}
.roles{
  padding: 41px 0;
}

.roles h1 {
font-size: 22px;

}
.roles-container {
flex-direction: column;

}

.role-slides{
  padding: 44px 20px;
}
}

@media screen and (max-width: 400px){
.guide-box{
  width: 100%;
}
.about{
  margin: 100px 20px;

}

.slides-container{
  margin: 0 20px;
}

.roles h1{
  padding-top: 30px;
  font-size: 24px;
  text-align: center;
}
}