.faq-section {
  display: flex;
  margin: 100px auto;
  max-width: 1240px;
  justify-content: space-between;
}
.faq-section h1 {
  font-family: "Recoleta Black", "Recoleta Black Placeholder", sans-serif;
  font-size: 28px;
}

.faq-container {
  width: 60%;
}

.faq-item {
  margin-bottom: 24px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.faq-question h3 {
  max-width: 70%;
  font-size: 22px;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.faq-question h3 {
  margin: 0;
  color: #233876;
  flex-grow: 1;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
   background-color: #3558e6; 
  transition: background-color 0.3s ease;
  padding: 16px;
}

.arrow {
  width: 8px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}

.faq-answer {
  font-size: 18px;
  color: #52525b;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  margin-top: 10px;
  position: relative;
  margin-left: 10px;
  max-width: 80%;
  line-height: 30px;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.faq-answer.open {
  max-height: 200px;
  padding: 10px 0;
}

.faq-item .faq-line {
  border-bottom: 1px solid #cfd6f3;
  width: 81%;
  transition: width 0.3s ease;
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .faq-section {
    flex-direction: column;
    align-items: center;
    /* padding-right: 5px; */
    padding-bottom: 300px;
  }
  .faq-section h1 {
    margin-bottom: 40px;
    text-align: center;
  }

  .faq-container {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  /* .faq-section {
    margin: 42px 10px 450px 5px;
    width: 100%;
  } */
   .faq-section{
    margin: 100px 10px 450px 10px;
   }

  .faq-question h3 {
    font-size: 18px;
  }

  .faq-section h1 {
    font-size: 24px;
  }

  .faq-answer {
    width: 70%;
  }

 .faq-item .faq-line{
    width: 70%;
  }
  .faq-answer.open {
    max-height: 400px;
  }
}
