footer {
  background-color: #111926;
  position: relative;
  /* padding: 32px; */
  margin-top: 450px;
}

.footer-info {
  background-color: #3558e6;
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 29px;
  padding: 40px 26px;
  position: absolute;
  left: 8%;
  right: 8%;
  top: -300px;
  margin: 0 auto;
  /* max-width: 1240px; */
}

.techiesImg {
  width: 50%;
  height: 489px;
  object-fit: cover;
  border-radius: 50px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  
  /* width: 50%; */
}

.details h1 {
  font-size: 38px;
  color: #fff;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  font-weight: 800;
  width: 400px;

}

.details p {
  font-size: 18px;
  color: #fff;
  font-family: 'Plus Jakarta Sans', 'Plus Jakarta Sans Placeholder', sans-serif;
  max-width: 600px;
}

.hire {
  padding: 12px 24px;
  background-color: #ff1265;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  width: 150px;
  font-family: "Recoleta Black", "Recoleta Black Placeholder", sans-serif;
  margin-top: 16px;
}

.footer-main {
  display: grid;
  place-items: left;
  padding: 200px 32px 100px;
}

.footer-details {
  display: flex;
  gap: 150px;
  color: #fff;
  margin: 10% 0 0 0;
}



.logo-wrapper {
  width: 150px; /* Set appropriate width */
  height: 150px; /* Set appropriate height */
  overflow: hidden; /* Hide the overflow to clip the transparent area */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}
.footer-logo-container {
  max-width: 150px;
  aspect-ratio: 16 / 3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 100%;
  height: auto;
  display: block;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-container h1 {
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.social-link {
  background-color: #2d343f;
  padding: 7px 10px;
  border-radius: 25px;
  text-align: center;
}

.social-link img {
  width: 12px;
  height: 12px;
  color: #ffffff;
}

.mail {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-link:hover {
  background-color: #3558e6;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company h1 {
  font-size: 18px;
  color: #fff;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.page-links {
  font-size: 14px;
  color: #b0b0bd;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}
.contact h1 {
  font-size: 18px;
  color: #fff;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.contact li {
  font-size: 14px;
  color: #b0b0bd;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.mail p {
  font-size: 14px;
  color: #b0b0bd;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.copyright {
  font-size: 16px;
  color: #858585;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  padding-left: 32px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1300px) {
.footer-info {
    left: 0;
    right: 0;
}

}

@media screen and (max-width: 801px) {
  .footer-info {
    left: 0;
    right: 0;
    top: -700px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 0;
  }
  .details {
    align-items: center;
  }

  .details h1 {
    width: 100%;
  }
  .details p {
    max-width: 100%;
    line-height: 30px;
  }

  .techiesImg {
    width: 100%;
  }

  .footer-details {
    flex-direction: column;
  }

  .footer-main {
    padding: 200px 20px 60px;
  }
  .copyright {
    padding-left: 20px;
  }

}

@media screen and (max-width: 500px) {
  .footer-info {
    padding: 40px 20px;
  }
  .techiesImg {
    height: 282px;
  }

  .copyright {
    padding-left: 20px;
    padding-bottom: 50px;
  }

  .footer-main {
    padding: 120px 20px 60px;
  }
  .footer-details {
    gap: 60px;
  }

  .hire{
    width: 100%;
  }
}
