.navbar {
  position: relative;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eceaea ;
}

.brand {
  color: #5271fe;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
}

.bar {
  width: 24px;
  height: 2px;
  background-color: #070f4b;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.bar2 {
  opacity: 0;
}

.bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 40px;
  top: 50px;
  right: 0;
  width: 100%;
  background-color: #fff;
  transition: max-height 1s ease-out;
  overflow: hidden;
  max-height: 0;
  font-family: "Plus Jakarta Sans";
}

.menu.open {
  display: flex;
  max-height: 533px; 
}

.menu a:not(:last-child) {
  color: #2a3541;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
}


@media (max-width: 768px) {
  .menu {
    display: none;
  }
  
  .menu.open {
    display: flex;
  }
}
